@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LavaCar</h1>
    <p class="lead">Lleve el registro de los vehículos que llegan a su su negocio de lavado de autos y de los servicios que les ofrece</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Asignar servicio</h2>
        <p>
            Asígnele un servicio al vehículo que llega al LavaCar. El vehículo debe estar previamente registrado.
        </p>
        <p>@Html.ActionLink("Asignar", "AsignarServicio")</p>
    </div>
    <div class="col-md-4">
        <h2>Registrar Vehículo</h2>
        <p>Registre nuevos vehículos al sistema. Solo necesita la placa, el nombre del dueño y la marca.</p>
        <p>@Html.ActionLink("Registro de Vehículos", "Create", "RegistroVehiculos")</p>
    </div>
    <div class="col-md-4">
        <h2>Reporte de servicios</h2>
        <p>Encuentre la lista de vehículos actualmente asignados a un servicio dado.</p>
        <p>@Html.ActionLink("Ver reportes", "Reporte")</p>
    </div>
</div>